<div class="container">
  <div class="row">
    <div>
      <button class="btn btn-secondary" (click)="back()">
        <fa-icon [icon]="backArrow"></fa-icon>
      </button>
    </div>
  </div>
  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#step-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">Post Info</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#step-2">
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Categories & Tags</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#step-3">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Images & Submit</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
      <form [formGroup]="form">

        <!-- Step 1: Product Info -->
        <div id="step-1" class="content">
          <h2>Enter Post Details :</h2>
          <div class="form-group">
            <label for="productName"> Name</label>
            <input type="text" id="productName" formControlName="postName" class="form-control"
              placeholder="Enter post name" />
          </div>
          <div class="form-group mt-2">
            <label for="productName"> Additonal Name :</label>
            <input type="text" id="productName" formControlName="AdditionalName" class="form-control"
              placeholder="Enter Additional name" />
          </div>
          <div class="form-group mt-3">
            <label for="productDescription">Enter the whole description</label>
            <textarea id="productDescription" formControlName="description" class="form-control"
            rows="4"
              placeholder="Enter post description"></textarea>
          </div>
          <div class="d-flex flex-end mt-3">
            <button (click)="next()" class="btn btn-primary">Next</button>
          </div>
        </div>

        <!-- Step 2: Categories & Tags -->
        <div id="step-2" class="content">

          <h2>Category and Tags :</h2>

          <div class="form-group mt-3">
            <div class="row">
              <div class="d-flex align-items-center gap-4">
                <div ngbDropdown>
                  <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    {{ form.get('category')?.value || 'Select Category' }}
                  </button>
                  <div ngbDropdownMenu class="dropdowns">
                    <div ngbDropdownItem *ngFor="let category of categories;let i=index;">
                        <div (click)="renderLabels(category.label)">{{ category.label }}</div>
                    </div>
                  </div>
                </div>

                <div *ngIf="labelList.length" ngbDropdown>
                  <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    {{ form.get('label')?.value || 'Select Label' }}
                  </button>
                  <div ngbDropdownMenu class="dropdowns">
                    <div ngbDropdownItem *ngFor="let label of labelList;let j=index;">
                        <div (click)="renderSubLabels(label.name)">{{ label.name }}</div>
                    </div>
                  </div>
                </div>

                <div *ngIf="subLabelList.length" ngbDropdown>
                  <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    {{ form.get('sublabel')?.value || 'Select Sub-Label' }}
                  </button>
                  <div ngbDropdownMenu class="dropdowns">
                    <div ngbDropdownItem *ngFor="let sublabel of subLabelList;let i=index;">
                      <div (click)="selectSubLabel(sublabel)">{{ sublabel }}</div>
                    </div>
                  </div>
                </div>      
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <label>Addtional Tags</label>
            <div>
              <span>(Add some other addtional tags for better SEO)</span>
            </div>
            <div>
              <div class="d-flex gap-2">
                <input type="text" formControlName="tag" class="form-control mb-2" placeholder="Enter tag"
                  (keydown)="onKeydownTag($event)" />
              </div>
              <!-- <span>Cannot add more than 20 tags</span> -->
              <div class="d-flex flex-row flex-wrap">
                <div *ngFor="let tag of getTags().controls; let i = index">
                  <div class="d-flex gap-2">
                    <span class="badge bg-primary m-1">{{tag.value}}</span>
                    <div type="button" class="btn btn-danger btn-sm remove-markers" (click)="removeTag(i)">
                      <span>-</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group mt-3">
            <label for="">Ratings :</label>
            <div>
              <span>(Here your experience with this product here)</span>
            </div>
            <div>
              <ngb-rating [max]="5" class="star-rating-md" formControlName="ratings"></ngb-rating>
            </div>
          </div>

          <div class="d-flex justify-content-between mt-4">
            <button (click)="prev()" class="btn btn-primary">Previous</button>
            <button (click)="next()" class="btn btn-primary">Next</button>
          </div>
        </div>

        <!-- Step 3: Images & Submit -->
        <div id="step-3" class="content text-center">

          <h2>Images :</h2>

          <div class="form-group">
            <div class="container">
              <div *ngIf="getImages().length < 3">
                <img src="assets/icons/plus.png" id="image" (click)="addImage()" class="list-image cursor-pointer"
                  alt="">
              </div>
              <div formArrayName="images" class="d-flex mr-4 justify-content-center">
                <div *ngFor="let image of getImages().controls; let i = index" [formGroupName]="i"
                  class="shadow rounded m-3">
                  <img [src]="image.get('preview')?.value" *ngIf="image.get('preview')?.value" style="max-width: 200px;"
                    alt="sx" />
                  <div class="d-flex flex-row justify-content-between">
                    <div class="mb-0 p-0">
                      <input type="file" class="editinput" (change)="onFileChange($event, i)" accept="image/jpg" />
                      <button type="button" class="btn">
                        <fa-icon [icon]="editImage"></fa-icon>
                      </button>
                    </div>
                    <button type="button" (click)="removeImage(i)" class="btn">
                      <fa-icon [icon]="trashImage"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <button type="button" (click)="prev()" class="btn btn-primary">Previous</button>
            <button type="submit" (click)="onSubmit()" class="btn btn-success">Submit</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>


<ng-template #addimage>
  <div class="p-4">
    <div class="modal-title">
      <div>
        <h2>Upload Image</h2>
      </div>
    </div>
    <div class="modal-body">
      <input type="file" (change)="onFileChange($event)" accept="image/*" />
      <!-- <img [src]="image.get('preview')?.value" *ngIf="image.get('preview')?.value" style="max-width: 200px;" alt="sx"/> -->
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" type="button" (click)="removeImage()">Remove</button>
    </div>
  </div>
</ng-template>