/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    background-color:rgb(245 245 245 / 58%);
}
.logo-brand{
    width: 100px;
    height: 60px;
}

.pointer{
    cursor: pointer;
}

.remove-markers{
    width: 19px;
    height: 19px;
    border-radius: 50%;
}
.remove-markers span{
        position: relative;
        top: -6px;
        left: -1px;
}

.badge-icon{
    width: 20px;
    height: 20px;
}

li{
    color: white !important;
}
.font-poppins{
    font-family: "Poppins", serif;
}
.home-background{
        position: absolute;
        width: 99vw;
        height: 95vh;
        filter: blur(1px);
}

.header {
    font-size: 2.8rem !important;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 30px;
    padding: 27px;
}


.native-post-web
{
    display: block;
}
.native-post
{
    display: none;
}

.list-image{
    width: 100px;
    height: 100px;
}
.image-carasoul{
    width: 100px;
    height: 100px;
}
.sublabel {
    padding: 5px;
    margin-bottom: 7px;
}


.button-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.home-card-img{
        width: 279px !important;
        height: 240px !important;
}
.star-rating{
    span{
        color: rgb(235, 203, 19);
        font-size: 1rem;
    }
}
.star-rating-md{
    span{
        color: rgb(235, 203, 19);
        font-size: 1.5rem;
    }
}

.avator {
    width: 100px;
    height: 130px;
}

.avatar-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    gap: 10px; /* Space between images */
}

.avatar-grid img {
    object-fit: cover; /* Ensure the images fit nicely */
    border-radius: 8px; /* Optional: rounding the corners of the images */
}

.image-container {
    position: relative;
}

.image-container img {
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
}

.image-container .overlay {
    filter: brightness(50%); /* Darken the image */
    border: 2px solid red; /* Example border to highlight */
}
.review-avator{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.editinput{
    display: none;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
  }
.product-dropdown{
        border: none;
        padding: 7px;
        background: none;
}

.dropdown-toggle::after {
    display: none;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.profile-img-container
{
    max-width: fit-content;
    overflow: hidden;
    height: 250px;
}
.profile-img{
    max-width: 100%;
    clip-path:circle(38.29% at 49.38% 33.94%);
}
.profile-name{
    gap: 3rem  !important;
}

@media only screen and (max-width:600px)  {
    .img-slide {
        width: 281px !important;
        height: 251px !important;
    }
    .header{
        font-size: 24px !important;
    }
    .picsum-img-wrapper{
        display: flex !important;
        justify-content: center !important;
    }
    .modal-content{
            width: 367px !important;
            position: relative  !important;
            bottom: 124px  !important;
    }
    .bs-stepper-label {
	    display: none;
	    margin: .25rem;
}
    .native-post-web
    {
        display: none;
    }
    .native-post
    {
        display: block;
    }
    .profile-name{
        gap: 1rem  !important;
    }
}

.noproductimage{
    width: 128px;
    height: 128px;
}
.label-popup
{
    background-color: white;    
    position: absolute;
    height: 50vh;
    width: 100%;
}
/* #labels{
    position: relative;
    left: 162px;
}
#sublabels{

} */
.dropdowns{
    position:relative;
}
