<section>
  <div class="row mt-3" *ngIf="category">
    <div class="d-flex justify-content-center">
      <h4>Search the post you wanted to read the review</h4>
    </div>
    <app-searchbar placeholder="Enter post Name"
    [size]='posts.length > 0 ? "2.5rem":"3.5rem"'
    (onChange)="getProducts($event)"></app-searchbar>
  </div>

  <!-- render the categories -->

<div>
  <div>
    <div>
    </div>
    <div *ngIf="!category">
      <h1 class="header font-poppins">Select the category</h1>
    </div>
    <div *ngIf="!category" style="cursor: pointer;"
     class="d-flex justify-content-between flex-wrap align-content-center container mt-4"
>
      <div class="col-md-3 mb-3" *ngFor="let item of categories; let i = index">
        <div class="" (mouseenter)="showPopup($event,true,item.label)">
          <div (click)="showPopup($event,true,item.label)" >
            <h1 class="card-title" >{{ item.label }}</h1>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <hr/>
</div>



  <!-- render products -->
<div class="d-flex justify-content-between">
<button class="btn btn-secondary m-3" *ngIf="category"  (click)="clearPosts()">Back</button>
  <div class="btn-group m-3" role="group" aria-label="Basic example" *ngIf="category && posts.length > 0">
    <button type="button" class="btn btn-secondary" (click)="selectOrder('latest')">Latest</button>
    <button type="button" class="btn btn-secondary" (click)="selectOrder('oldest')">Oldest</button>
  </div>
 </div>

 <div class="d-flex justify-content-evenly flex-row" *ngIf="category && posts.length === 0">
    <img class="mw-100 noproductimage" src="https://cdn-icons-png.flaticon.com/128/4989/4989793.png" alt="">
    <h3>No Results Found</h3>
 </div>



    
    <div class="container mt-3"  *ngIf="posts.length > 0" style="cursor: pointer;">
        <div class="row">
          <div class="col-md-3 mb-3" *ngFor="let item of posts;let i=index" (click)="onSelectProduct(item.postid)">
            <div class="card h-100 shadow rounded p-2">
              <img [src]=getBase64Image(item.images[0].data) class="card-img-top" style="height: 260px;" alt="{{ item.postName }}">
              
              <div class="card-body p-0">
                <h5 class="card-title"><b>{{ item.postName }}</b></h5>
                <h4 *ngIf="item.AddtionalName"><b>{{item.AdditionalName}}</b></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="label-popup" *ngIf="popShow">
        <div class="d-flex flex-row flex-wrap justify-content-evenly align-content-start">
          <div *ngFor="let label of labelList;let i=index;" class="p-4">
           <div>
            <span class="h6 pointer" (click)="fetchBySelection(label.name)"><b>{{label.name}}</b></span>
            <hr/>
           </div>
           <ul class="list-group list-group-flush" *ngFor="let sublabels of label.subTags;let j=index">
            <span class="list-group-item pointer" (click)="fetchBySelection(sublabels)">{{sublabels}}</span>
           </ul>
          </div>
        </div>
      </div>

</section>


