.parent-loader{
    width: 100vw;
    height: 90vh;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    opacity: 5;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5); /* Optional semi-transparent overlay */
    backdrop-filter: blur(10px); /* Adjust blur intensity */
    -webkit-backdrop-filter: blur(10px); 
}

.loader {
    width: 140px;
    height: 300px;
    aspect-ratio: .75;
    --c: no-repeat linear-gradient(#000 0 0);
    background: 
      var(--c) 0%   50%,
      var(--c) 50%  50%,
      var(--c) 100% 50%;
    animation: l7 1s infinite linear alternate;
  }
  @keyframes l7 {
    0%  {background-size: 20% 50% ,20% 50% ,20% 50% }
    20% {background-size: 20% 20% ,20% 50% ,20% 50% }
    40% {background-size: 20% 100%,20% 20% ,20% 50% }
    60% {background-size: 20% 50% ,20% 100%,20% 20% }
    80% {background-size: 20% 50% ,20% 50% ,20% 100%}
    100%{background-size: 20% 50% ,20% 50% ,20% 50% }
  }